// 字号
$font-size-small = 24px
$font-size-medium = 28px
$font-size-large = 32px

// 颜色
$color-text = #101010
$color-text-w = #ffffff
$color-text-l = #bbbbbb
$color-text-p = #999999
$color-text-d = #666666
$color-text-a = #333333
$main-color = #FF3446

// 字体
$medium = Roboto-Regular
$bold = Roboto-Regular
$regular = Roboto-Regular
$black = Roboto-Regular

// 背景色
$linear = linear-gradient(124deg, #FF3446 0%, #FF894F 100%)
$linear-bg = linear-gradient(180deg, #FF3446 0%, #FF894F 100%)
$linear-g = linear-gradient(-191deg, #20E1B0 0%, #009EFD 99%)
$background-light = #eeeeee
$background-color = #ffffff
$background-color-g = #f9f9f9

// postion mixin
position-fixed()
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  overflow-y auto
